
# Playwright
node_modules/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/test-results/
/playwright-report/*
!/playwright-report/**/
!/playwright-report/**/index.html

# Excluded local-only tests
tests/test-1.spec.ts
tests/test-2.spec.ts
